.u-section-1 {
  min-height: 745px;
}

.u-section-1 .u-gallery-1 {
  height: 659px;
  margin-top: 86px;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-gallery-inner-1 {
  background-image: url("images/StockSnap_MIBMHZB7QN.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 81px;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 81px;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 297px;
  height: 297px;
  background-image: url("images/Untitled-4.jpg");
  background-position: 50% 50%;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: -457px auto 60px calc(((100% - 1140px) / 2) + 65px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 236px;
    height: 236px;
    margin-top: -283px;
    margin-left: calc(((100% - 940px) / 2) + 65px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-carousel-control-1 {
    left: 20px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 31px;
  }

  .u-section-1 .u-image-1 {
    width: 162px;
    height: 162px;
    margin-top: -209px;
    margin-left: calc(((100% - 720px) / 2) + 65px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 758px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 27px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 27px;
  }

  .u-section-1 .u-image-1 {
    width: 123px;
    height: 123px;
    margin-top: -133px;
    margin-bottom: 23px;
    margin-left: calc(((100% - 540px) / 2) + 11px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 460px;
  }

  .u-section-1 .u-gallery-1 {
    height: 374px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 10px;
    width: 28px;
    height: 28px;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 28px;
    height: 28px;
    top: 179px;
    right: 22px;
  }

  .u-section-1 .u-image-1 {
    width: 80px;
    height: 80px;
    margin-top: -100px;
    margin-bottom: 20px;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 260px;
}

.u-section-2 .u-group-1 {
  min-height: 220px;
  background-image: none;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 0 0 0 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 19px auto 0 30px;
  padding: 9px 35px 11px;
}

.u-section-2 .u-btn-2 {
  margin: -42px auto 0 188px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 36px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    padding-right: 35px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 242px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 44px 0 19px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 179px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 60px;
}

.u-section-3 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 136px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  margin: 15px 0 15px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 136px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 49px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 38px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 172px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 35px;
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 176px;
    width: 540px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 127px;
  }

  .u-section-3 .u-btn-1 {
    margin: 50px auto 0 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 19px;
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 197px;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 105px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 686px;
}

.u-section-4 .u-text-1 {
  width: 680px;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-4 .u-line-1 {
  width: 43px;
  height: 3px;
  transform-origin: right center;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 352px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 23px 0 0 9px;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 17px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(14, 62, 127) !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 23px 0 0 9px;
}

.u-section-4 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 17px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(53, 57, 63) !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 23px 0 0 9px;
}

.u-section-4 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-4 .u-btn-1 {
    padding: 5px 24px 5px 23px;
  }

  .u-section-4 .u-btn-2 {
    padding: 5px 24px 5px 23px;
  }

  .u-section-4 .u-btn-3 {
    padding: 5px 24px 5px 23px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-1 {
    height: 24px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-2 {
    height: 24px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-3 {
    height: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 775px;
}

.u-section-5 .u-group-1 {
  min-height: 150px;
  width: 800px;
  margin: 45px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-5 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 15px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 33px auto 50px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 527px;
}

.u-section-5 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-image-1 {
  height: 290px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 30px 30px 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 30px 46px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 527px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-image-2 {
  height: 290px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 30px 30px 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 30px 46px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 527px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-image-3 {
  height: 290px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 30px 30px 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 30px 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-5 .u-group-1 {
    width: 660px;
    margin-top: 79px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 511px;
  }

  .u-section-5 .u-image-1 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 50px;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-5 .u-group-1 {
    min-height: 136px;
    margin-top: 82px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-5 .u-group-1 {
    min-height: 150px;
    width: 474px;
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: 115px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(14,62,127,0.65), rgba(14,62,127,0.65)), url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 536px;
}

.u-section-6 .u-text-1 {
  width: 680px;
  margin: 77px auto 0;
}

.u-section-6 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  width: 114px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 1px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  width: 114px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 1px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  width: 114px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 1px 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-9 {
  width: 114px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-7 {
  min-height: 555px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/335003P9WNIH291min.jpg");
  min-height: 555px;
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 555px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 80px;
  padding-right: 80px;
}

.u-section-7 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  margin: 20px 496px 50px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 66px;
    padding-right: 66px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
  }

  .u-section-7 .u-text-2 {
    position: relative;
  }

  .u-section-7 .u-btn-1 {
    position: relative;
    margin-right: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 591px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 51px;
    padding-right: 51px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 313px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 722px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 235px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 721px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 148px;
  }
}.u-section-8 {
  background-image: linear-gradient(0deg, rgba(14,62,127,0.9), rgba(14,62,127,0.9)), url("images/Untitled1.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 868px;
}

.u-section-8 .u-text-1 {
  width: 680px;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  width: 546px;
  margin: 32px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  grid-gap: 24px 24px;
  min-height: 489px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-8 .u-image-1 {
  height: 355px;
  object-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-3 {
  width: 270px;
  font-size: 1.5rem;
  margin: 15px auto 0;
}

.u-section-8 .u-text-4 {
  text-transform: none;
  width: 271px;
  font-style: italic;
  margin: 25px auto 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-8 .u-image-2 {
  height: 355px;
  object-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-5 {
  font-size: 1.5rem;
  width: 270px;
  margin: 15px auto 0;
}

.u-section-8 .u-text-6 {
  text-transform: none;
  width: 271px;
  font-style: italic;
  margin: 25px auto 0;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-8 .u-image-3 {
  height: 355px;
  object-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-7 {
  width: 270px;
  font-size: 1.5rem;
  margin: 15px auto 0;
}

.u-section-8 .u-text-8 {
  text-transform: none;
  width: 271px;
  font-style: italic;
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-8 .u-list-1 {
    height: auto;
  }

  .u-section-8 .u-image-1 {
    height: 293px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 293px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 293px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  }

  .u-section-8 .u-image-1 {
    height: 337px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 337px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 337px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-image-1 {
    height: 506px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-image-2 {
    height: 506px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-image-3 {
    height: 506px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    height: 319px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 319px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 319px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 603px;
}

.u-section-9 .u-layout-wrap-1 {
  min-height: 572px;
  margin: 47px auto 47px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-9 .u-text-1 {
  margin: 38px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-form-1 {
  height: 305px;
  width: 400px;
  margin: 38px auto 0;
}

.u-section-9 .u-form-group-1 {
  margin-left: 0;
}

.u-section-9 .u-image-1 {
  min-height: 510px;
  background-image: linear-gradient(0deg, rgba(14,62,127,0.35), rgba(14,62,127,0.35)), url("images/1092.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-layout-wrap-1 {
    min-height: 294px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-9 .u-form-1 {
    margin-right: 12px;
    width: 332px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 602px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
  }

  .u-section-9 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-9 .u-layout-wrap-1 {
    min-height: 1315px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 765px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 552px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-image-1 {
    min-height: 503px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-9 .u-layout-wrap-1 {
    min-height: 635px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-9 .u-image-1 {
    min-height: 510px;
  }
}